.sidebar_items {
  width: 265.83px;

  padding: 10px;
}

.sidebar_items_header {
  border: 1px solid gray;
}
.sidebar_items_header > span {
  display: inline-block;
  border-right: 1px solid gray;
  padding: 8px;
  cursor: pointer;
}

.sidebar_items_body {
  height: 250px;

  padding: 10px;
  border: 1px solid black;
  position: relative;
}
