.sidebar_table {
  display: flex;
  flex-direction: column;
}

.sidebar_top {
  display: flex;

  margin: 10px 0px 20px 0px;
  font-size: 25px;
  font-weight: 700;
}

.plus_button,
.remove_button {
  transform: scale(1.2);
  margin-top: 12px;

  margin-left: 50px;
}

.sidebar_table_th {
  margin-left: 50px;
  font-size: 30px;
}
.sidebar_table_body_td {
  cursor: pointer;
  margin-left: 20px;
}
.sidebar_table_body_tr {
  display: flex;
}

.sidebar_table_body {
  margin-left: 30px;
}
.sidebar_table_body_td:hover {
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  .sidebar_table_th {
    font-size: 20px;
  }
  .sidebar_top {
    margin: none;
  }
  .companycontact {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .sidebar_table{
    margin-left:-20px;
  }
}
