
.sidebar_table {
  /* padding: 1%; */
  width: 430px;
  display: flex;
}


.sidebar_top{
  display: flex;
  justify-content: space-between;
  margin:10px 0px 20px 0px;
  font-size: 25px;
  font-weight: 700;
}

.plus_button,
.remove_button {
  transform: scale(1.2);
  margin-top:12px;
  float:right;
  margin-right:-100px;
}

.sidebar_table_th{
  
  float:left;
  margin-left:50px;
  font-size:30px;
}
.sidebar_table_body_td {
  cursor: pointer;
  /* display: flex; */
  /* display:inline-block; */
  /* justify-content: space-evenly; */
  /* margin-left:48px; */
  
}
.sidebar_table_body_tr{
  display: flex;
  justify-content: space-between;
}

.sidebar_table_body{
  width:250px;
  margin-top:60px;
  /* display: flex;
  justify-content: space-between; */
  /* margin-left:50px; */
}
.sidebar_table_body_td:hover {
  font-weight: bold;
}
