.clothescard {
  width: 200px;
  height: 350px;
  margin: 12px;
  border: 0.2px ridge black;
}

.right {
  border-right: none;
}
.top {
  border-top: none;
}

.clothescard > img {
  display: block;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
}
.card_script {
  margin-left: 10px;
  margin-top: 5px;
  padding: 5px;
}

.card_script > p {
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}

.rating_icon {
  font-size: 15px;
}

.card_script_reviewer {
  display: flex;
  color: darkorange;
  margin-top: 10px;
}
.card_script_reviewer_number {
  font-size: 14px;
  margin-left: 4px;
  margin-top: 2px;
}

.like_icon_container {
  display: flex;

  color: red;
  margin-top: 5px;
}

.like_icon_container > span {
  margin-left: 5px;
  margin-top: 1px;
  font-size: 13px;
}

@media only screen and (max-width: 1000px) {
  .clothescard {
    width: 130px;
  }
  .card_script > p {
    font-size: 11px;
  }
  .card_script_reviewer {
    transform: scale(0.7);
    margin-left: -25px;
  }
  .like_icon_container {
    transform: scale(0.7);
    margin-left: -25px;
  }
}
