.mainpage {
  border: 1px solid #000000;
  
}

.mainpage > hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mainpage > h1 {
  margin-left: 10px;
  font-size:25px;
}
.medium_clfc {
  display: flex;
  font-size:20px;
}

.medium_clfc_head {
  display: inline-block;
  height: 70px;
  margin-left: 10px;
}

.medium_clfc_head > p {
  margin-top: 15px;
  margin-left: 5px;
}

.medium_clfc_contents {
  display: flex;
}

.medium_clfc_contents > p {
  margin-left: 25px;
  margin-right: 5px;
  margin-top: 15px;
  
  cursor: pointer;
}

.mainpage > form > label {
  margin-left: 15px;
}

.mainpage > form > [type="text"] {
  margin-left: 105px;
}

.card {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .mainpage{
    
    border:unset;
  }
  
}


@media only screen and (max-width: 450px) {
  .medium_clfc_head>p{

    display: none;
  }

}
