.mainpage {
  /* width: 50%; */
  /* max-width:500px; */
  /* width:800px; */
  height: 900px;
  border: 1px solid #000000;
  margin-left: 400px;

  position: absolute;
}

.mainpage > hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.medium_clfc {
  display: flex;
}

.medium_clfc_head {
  display: inline-block;
  height: 70px;
}

.medium_clfc_head > p {
  margin-top: 10px;
  margin-left: 5px;
}

.medium_clfc_contents {
  display: flex;
}

.medium_clfc_contents > p {
  margin-left: 25px;
  margin-right: 5px;
  padding: 7px;
}

.mainpage > form > label {
  margin-left: 15px;
}

.mainpage > form > [type="text"] {
  margin-left: 105px;
}

.card_collection > div {
  /* flex-direction: row; */
  /* flex:1; */
  max-width:1000px ;
  display: flex;
  
  
  /* flex-wrap: 'wrap'; */
  
  
}
/* 
.card_break{
  display:inline-block !important;
} */

.card{
  flex-wrap:"wrap" ;
  
}