.mypageside {
  width: 200px;
  height: 700px;
  border: 1px solid black;
  margin-top: 5px;
  padding: 12px;
  position: absolute;
}

.mypageside > h3 {
  margin-top: 20px;
}

.mypageside > h4 {
  margin-top: 30px;
  margin-left: 10px;
  cursor: pointer;
  color: gray;
}
