.mypagemain {
  height: 700px;

  margin-right: 200px;
  margin-top: 10px;
}

.mypagemain > hr {
  margin-top: 15px;
  border-top: 2px solid black;
}

.order_info {
  display: flex;
  justify-content: space-evenly;
}

.order_info > p {
  margin-left: 40px;
  margin-top: 5px;
}

.order_info_details {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

.order_info_details_name {
  width: 250px;
  margin-left: 20px;
  margin-right: -170px;
}

.order_info_details_number {
  margin-left: -70px;
}

.mypage-container{
  display: flex;
  justify-content: space-between;
}