.cart {
  border: 1px solid black;
  
}

.cart > h3 {
  margin-left: 15px;
  padding: 5px;
}
.cart_title {
  padding: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.cart_empty_container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  padding: 15px;
}
.order_container {
  margin-top: 3%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.order_container_title {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  padding: 3px;
}

.order_container > hr {
  margin-top: 5px;
}

.delete_order_list {
  
  margin-top: -2px;

  transform: scale(0.75);
}

.order_details {
  font-size: 12px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 5%;
}

.order_details > p {
  padding: 2px;
}

.order_button {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  font-weight: bold;
  justify-content: center;
  position: relative;
  

  margin-bottom: 5%;
}

.total_price {
  padding: 10%;
}

.total_price > span {
  margin-top: 50px;
  font-size: 20px;
  margin-left: 5px;
}

.svg_icons {
  transform: scale(0.7);
  margin-bottom: -6px;
}

.cart_details {
  font-size: 10px;
}

.cart_item_number {
  margin-left: 85px !important;
}
.order_item_name {
  margin-left: 60px !important;
}

.cart_item_checkbox {
  transform: scale(0.7);
  margin-top: -10px !important;
}
