.detailpage_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailpage {
  width: 500px;

  border: 1px solid black;

  text-align: center;
}

.detailpage > img {
  width: 200px;
  margin-top: 30px;
}

.detail_page_like_container {
  margin-top: 10px;
  display: flex;
  font-size: 15px;
  justify-content: center;
}

.detail_page_like_span {
  margin-left: 5px;
  margin-top: 3px;
  color: darkorange;
}

.detail_page_review_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: red;
}

.review_icon_span {
  margin-left: 5px;
}

.quantity_selector,
.size_selector {
  margin-top: 15px;
}

.add_to_cart {
  border: 1px solid lightblue;
  background-color: white;
  color: black;
  width: 100px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.add_to_cart:hover {
  background-color: lightgray;
}
