.detailpage {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin-left: 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* display: flex; */
}

.detailpage > img {
  width: 200px;
  margin-top: 30px;
}

.detailpage > div > .like_icon {
  transform: scale(0.8);
  margin-top: 10px;
}

.add_to_cart {
  border: 1px solid lightblue;
  background-color: white;
  color: black;
  width: 100px;
  height: 40px;
  margin-top: 15px;
}

.add_to_cart:hover {
  background-color: lightgray;
}
