.detailpage {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin-left: 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* display: flex; */
}

.detailpage > img {
  width: 200px;
  margin-top: 30px;
}

.detailpage > div > .like_icon {
  transform: scale(0.8);
  margin-top: 10px;
}
