.extendedsearchbar {
  width: 540px;
  height: 362px;
  border: 1px solid gray;
  position: absolute;
  margin-top: -34px;
  margin-left: 239px;
  color: black;
  background-color: white;
  z-index: 1;
}

.recently_searched {
  background-color: #dcdcdc;
  width: 179px;
  height: 40px;
  border-left: 0.1px solid gray;
  /* border-bottom: 0.1px solid gray; */
}

.recently_searched > p {
  padding: 3px;
}

.recently_searched_button {
  margin-top: -30px;
  margin-left: 90px;
}

.searched_rank {
  border-right: 0.1px solid gray;
  border-bottom: 0.1px solid gray;
  border-left: 0.1px solid gray;
cursor: pointer;
  padding: 5.1px;
}

.searched_item_list {
  border-bottom: 0.1px solid gray;
  border-right: 0.1px solid gray;
  padding: 5.1px;
  cursor: pointer;
  
}

.searched_rank:hover, .searched_item_list:hover {
  background-color: lightgray;
}

.recommended_item {
  border-bottom: 0.1px solid gray;
  border-left: 0.1px solid gray;
  cursor: pointer;
  padding: 5.1px;
}

.recommended_item:hover{
  background-color: lightgrey;
}
.extended_search_bar_numbering {
  margin-right: 10px;
}
.recently_searched_button {
  display: flex;
  justify-content: flex-end;
  margin-top: -25px;
  /* margin-left: 10px; */
}
.arrow_forward_icon {
  transform: scale(0.7);
  cursor: pointer;

  border: 1px solid black;

  margin-left: -8px;
}
.recommend_item {
  margin-left: 51.5px;
}
.arrow_back_icon {
  border: 1px solid black;
  transform: scale(0.7);
  cursor: pointer;
}
