.find_id_pw {
  text-align: center;
  align-items: center;

  width: 55%;
  padding: 10px;
  height: 500px;

  border: 5px;
  margin: auto;
  margin-top: 5%;

  background-color: gray;
}

.find_id_pw > Button {
  border: 3px solid black;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  color: black;
  font-size: 20px;
  margin-left: 0.5%;
}
