.firstslideshow {
  /* border: 1px solid black; */
  width: 1700px;
  height: 2000px;
  position: absolute;
  z-index: 1;
  /* display: flex; */
  background-color: white;
}

.disappearthePage {
  transition: all 250ms linear;
  display: none;
}
.firstslideshow > button {
  position: absolute;
  margin-left: 550px;
  margin-top: 300px;
  width: 500px;
  height: 100px;
  z-index: 1;
  background-color: #fff;
  border: none;
  opacity: 0.8;
  cursor: pointer;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1000px;
  align-items: center;
  /* margin: auto; */
  margin-left: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 600px;
  width: 100%;
  border-radius: 40px;
}

.slide > img {
  width: 600px;
}

.slideshowdots {
  text-align: center;
}

.slideshowdot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px 0px;
  background-color: #c4c4c4;
}

.slideshowdot .active {
  background-color: #6a0dad;
}
