.mainpagesearch {
  background-color: black;
  color: white;
  padding: 10px;
  position: relative;
  width: 1580px;
  
}
.mainpagesearch > span {
  cursor: pointer;
  margin-left:40px;
}

.mainpagesearch > [type="text"] {
  margin-left: 35px;
  width: 180px;
  height: 20px;
}

.mainpagesearch > [type="text"]:hover {
}

.mainpagesearch > span {
  font-weight: bold;
  font-size: 25px;
}
.searchIcon {
  transform: scale(1.5);
  position: absolute;
  margin-top: 11px;
  margin-left: 5px;
  cursor: pointer;
}

.rankingslideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 300px;
  display: inline-flex;
}

.rankingslideshowSlider {
  white-space: nowrap;

  margin-left: 50px;
}
.rankingslide {
  display: inline-block;
  height: 50px;
  width: 100%;
  margin-left: 15px;
  font-size: 15px;

  border-radius: 40px;
}

.arrow_drow_sgv {
  transform: scale(1.5);
  margin-left: 25px;
  color: red;
  margin-bottom: -7px;
}
