.mainpagesearch {
  background-color: black;
  color: white;
  padding: 10px;
  position: relative;
}

.mainpagesearch > [type="text"] {
  margin-left: 5%;
  width: 180px;
  height: 20px;
}

.mainpagesearch > span {
  font-weight: bold;
  font-size: 25px;
}
.searchIcon {
  transform: scale(1.5);
  position: absolute;
  margin-top: 11px;
  margin-left: 5px;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 300px;
  display: inline-flex;
}

.slideshowSlider {
  white-space: nowrap;

  margin-left: 50px;
}
.slide {
  display: inline-block;
  height: 50px;
  width: 100%;
  border-radius: 40px;
}
