.member > form > input {
  display: block;
  margin: auto;
  width: 60%;
  height: 40px;
  margin-top: 4%;
  border: 1px solid black;
  border-radius: 7px;
}

.member > form > button {
  width: 60%;
  height: 40px;
  margin-top: 4%;
  background-color: black;
  color: white;
}

.login_extra_features {
  display: flex;
  justify-content: space-evenly;

  margin-left: 65px;
  margin-top: 2%;
}

.login_extra_features > .find_pw {
  /* float: right; */
  margin-right: 80px;
}

.login_extra_features > .find_id {
  margin-left: 25px;
}
