.member > form > input {
  display: block;
  margin: auto;
  width: 60%;
  height: 40px;
  margin-top: 4%;
  border: 1px solid black;
  border-radius: 7px;
}

.member > form > .member_login_button,
.login_with_google {
  width: 60%;
  height: 40px;
  margin-top: 4%;
  background-color: black;
  color: white;
}

.login_extra_features {
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
  margin-top: 2%;
}

.find_id {
  margin-right: 10px;
}
.find_pw {
  margin-left: 10px;
}

.login_with_google {
  background-color: white !important;
  color: black !important;
}

.sign_up {
  margin-top: 30px;
}

.sign_up > span {
  margin-right: 5%;
}
