.nonMember > form > input {
  display: block;
  margin: auto;
  width: 60%;
  height: 40px;
  margin-top: 4%;
  border: 1px solid black;
  border-radius: 7px;
}

.nonMember > form > h4 {
  margin-top: 2%;
}

.nonMember > form > button {
  width: 60%;
  height: 40px;
  margin-top: 6%;
  background-color: black;
  color: white;
}

.gray {
  color: gray;
}

.sign_up {
  margin-top: 30px;
}

.sign_up > span {
  margin-right: 5%;
}
