.order {
  /* border: 1px solid black; */
  
}

.order_payment_head {
  margin-left: 25px;
  font-size: 20px;
  padding: 10px;
}

.recipient_info_head {
  margin-left: 30px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  justify-content: center;
}

.order_address {  
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
}

.order_address > hr {
  margin-top: 30px;
}

.order_address_form {
  padding: 30px;
  margin-top:-30px;
}

.order_address_form > div {
  margin-top: 0px;
}

.item_list {
  
  
  margin-left: 10px;
  margin-bottom: 15px;

  font-size: 12px;
}

.order_address > button {
  margin-left: 300px;
  margin-top: 20px;
  height: 50px;
  width: 200px;
  margin-bottom: 20px;
}

.order_item_description {
  margin-bottom: 10px;
  display: flex;
}
.order_item_description > img {
  width: 70px;
  height: 70px;
  padding: 10px;
}
.order_page_total_price {
  margin-top: 20px;
  font-weight: bold;
  font-size: 22px;
  margin-left: 15px;
  margin-bottom:10px;
}

.order_item_description > div > p {
  margin-left: 20px;
}

.order_item_description > div {
  display: flex;
  margin-top: 30px;
}

.card_element {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card_element > button {
  font-size: 20px;
}


@media only screen and (max-width: 1000px) {
  .order_address_form>div {
    
  }
}

@media only screen and (max-width: 755px) {
  .order_item_description>div>p{
    margin-left:1vw;
    font-size:80%;
  }
    .order_page_total_price{
      font-size: unset;
    }
        .card_element>button{
          font-size:15px;
        }
}
@media only screen and (max-width: 580px) {
  .order_item_description>img{
    display: none;
  }
}