.find_id_pw {
  text-align: center;
  align-items: center;

  width: 55%;
  padding: 10px;
  height: 500px;

  border: 5px;
  margin: auto;
  margin-top: 5%;

  background-color: #f0fff0;
}

.find_id_pw > input {
  margin-top: 50px;
  width: 60%;
  padding: 5px;
}

.find_id_pw > div > div > Button {
  margin-top: 35px;
  height: 50px;
  width: 50%;
  background-color: #ffebcd;
  /* color: green; */
  border-radius: 5%;
}

.reset_pw_alert_message {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.fade_in {
  transition: opacity 1s ease;
}

.fade_out {
  opacity: 0;
  transition: opacity 1s ease;
}

.reset_password_container {
  margin-top: 50px;
}

.reset_password_input {
  width: 50%;
  background-color: white;
  color: blue;
}
