.ranking_head {
  /* height: 250px;
  
  padding: 10px;
  border: 1px solid black;
  position: relative; */
}

.ranking_head > span {
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.ranking_total {
  position: absolute;
  right: 0;
  margin-right: 70px;
  text-decoration: underline;
}

.ranking_total_left_icon {
  border: 0.5px solid gray;
  position: absolute;
  right: 0;
  margin-right: 32px;
  cursor: pointer;
}

.ranking_total_right_icon {
  border: 0.5px solid gray;
  position: absolute;
  right: 0;
  margin-right: 7px;
  cursor: pointer;
}

.ranking_head > hr {
  margin-top: 10px;
}

.ranking_head > p {
  display: inline-block;
  margin-left: 10px;
  font-size: 10px;
  cursor: pointer;
}
