.onlyhear_total {
  position: absolute;
  right: 0;
  margin-right: 70px;
  text-decoration: underline;
}

.onlyhear_total_left_icon {
  border: 0.5px solid gray;
  position: absolute;
  right: 0;
  margin-right: 32px;
  cursor: pointer;
}

.onlyhear_total_right_icon {
  border: 0.5px solid gray;
  position: absolute;
  right: 0;
  margin-right: 7px;
  cursor: pointer;
}

.onlyhear > p {
  font-size: 15px;
  padding: 5px;
}
