.sale_total {
  position: absolute;
  right: 0;
  margin-right: 70px;
  text-decoration: underline;
}

.sale_total_left_icon {
  border: 0.5px solid gray;
  position: absolute;
  right: 0;
  margin-right: 32px;
  cursor: pointer;
}

.sale_total_right_icon {
  border: 0.5px solid gray;
  position: absolute;
  right: 0;
  margin-right: 7px;
  cursor: pointer;
}

.sale_list {
  width: 200px;
}
.sale_list > p {
  display: inline-block;
  font-size: 12px;
  padding: 7px;
}
