.find_id > [type="text"],
.find_id > [type="email"],
.find_id > .verification > [type="number"] {
  width: 60%;
  height: 30px;
  display: block;
  margin-top: 5%;
  margin-left: 90px;
}

.find_id > [type="radio"] {
  margin-right: 5px;
  margin-left: 5px;
}

.verification {
  display: flex;
}
.verification_bt {
  position: relative;
  float: right;
  margin-left: -85px;
  width: 80px;
  height: 30px;
  margin-top: 5.5%;
  font-size: 8px;
}

.find_id > Button {
  width: 40%;
  background-color: white !important;

  border: 1px solid black !important;
  margin-top: 15%;
  margin-left: 10px;
}
